.HomeBanner {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height: 600px; */
    height: 90vh;
    min-height: 90vh;
    /* height: auto; */

    /* font-size: 2vw; */
}

.HomeBannerImgContainer{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    /* position: relative; */
}

*, *::before, *::after{
    box-sizing: border-box;
}

.HomeBannerImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
}

.HomeBannerButtonLeft{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    cursor: pointer;
}

.HomeBannerButtonRight{
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

/* ------------------------------------ */

/* .HomeBannerContainer{
    position: absolute;
    width: 100%;
    height: 100%; 
} */

.HomeBookingWidget{
    z-index: 2;
    /* background-color: rgba(255, 190, 190, 0.5); */
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: 90%;
    /* padding: 10px; */
}

.HomeBookingWidgetTitle{
    font-size: 50px;
    /* font-size: 5vw; */
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;

    display: flex;
    align-items: center;
    margin-left: 20px;
}

.HomeBookingWidgetTitle2{
    font-size: 24px;
    /* font-size: 2vw; */
    /* font-weight: bold; */
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.788);

    display: flex;
    align-items: center;
    margin-left: 20px;
}

.HomeBookingWidgetInfobox {
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white */
    /* padding: 20px; */
    padding: 2%;
    border-radius: 10px;
    /* margin: 20px; */
    /* margin: 5%; */

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.HomeBookingWidgetInfoboxMobile{
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white */
    padding: 20px; /* Add padding for better readability */
    border-radius: 10px;
    margin: 20px;

    display: none;
    justify-content: space-between; 
    align-items: center;
}

.HomeBookingWidgetInfoBoxSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    /* margin: 5%; */
    /* margin-bottom: 30px; */
}

.HomeBookingWidgetInfoboxSectionLabel{
    color: black;
    /* font-size: 20px; */
    font-size: 1vw;
    width: 100%;
    white-space: nowrap;
}

.HomeBookingWidgetInfoboxSectionInput{
    border-radius: 5px;
    background-color: white;
    color: gray;
    width: 100%;
    font-size: 20px;
    padding: 5px;

    font-size: 1vw;
}

.HomeBookingWidgetInfoboxSectionInputButton{
    background-color: #810020;
    color: white;
    border-radius: 5px;
    /* font-size: 20px; */
    font-size: 1vw;
    padding: 5px;
    /* margin-top: 30px; */
    margin-top: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

@media screen and (max-width: 750px){

    .HomeBookingWidgetInfobox{
        display: none;
    }

    .HomeBookingWidgetInfoboxMobile{
        display: block;
        margin: 10px;
        padding: 10px;
    }

    .HomeBanner {
        height: 95vh;
    }

    .HomeBookingWidgetTitle{
        font-size: 5vw;
    }
    
    .HomeBookingWidgetTitle2{
        font-size: 2vw;
    }
    

    .HomeBookingWidgetInfobox{
        /* display: flex; */
        flex-direction: column;
        padding: 5%;
        margin: 5%;
    }

    .HomeBookingWidgetInfoboxSectionLabel{
        font-size: 2vw;
        font-weight: bold;
    }

    .HomeBookingWidgetInfoboxSectionInput{
        font-size: 2vw;
        font-weight: bold;
    }

    .HomeBookingWidgetInfoBoxButtonSection{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        margin: 8px;
    }

    .HomeBookingWidgetInfoboxSectionInputButton{
        font-size: 3vw;
        font-weight: bold;
        width: 100%;


        background-color: #810020;
        color: white;
        border-radius: 5px;
        /* font-size: 20px; */
        font-size: 3vw;
        padding: 5px;
        /* margin-top: 30px; */
        margin-top: 1.5vw;

        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }

    .HomeBookingWidgetInfoBoxSection{
        margin: 8px;
        /* padding: 0px; */
    }

    .HomeBookingWidgetInfoboxMobileRow{
        display: flex;
    }
}

@media screen and (max-width: 250px){

    .HomeBanner {
        height: 95vh;
    }

    .HomeBookingWidgetInfoboxMobile{
        display: none;
    }

    .HomeBookingWidgetTitle{
        font-size: 6.8vw;
    }
    
    .HomeBookingWidgetTitle2{
        font-size: 3.8vw;
    }
    

    .HomeBookingWidgetInfobox{
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin: 5%;
    }

    .HomeBookingWidgetInfoboxSectionLabel{
        font-size: 3.8vw;
        font-weight: bold;
    }

    .HomeBookingWidgetInfoboxSectionInput{
        font-size: 3.8vw;
        font-weight: bold;
    }

    .HomeBookingWidgetInfoboxSectionInputButton{
        font-size: 3.8vw;
        font-weight: bold;
        /* width: 100%; */
    }

    .HomeBookingWidgetInfoBoxSection{
        margin: 6px;
        /* padding: 0px; */
    }

}
