/* featuredcars */

.HomeFeaturedCars{
    text-align: center;
}

.HomeFeaturedCarsContent{
    padding-top: 2%;
}

.HomeFeaturedCarsTitle{
    color:#810020;
    font-size: 24px;
    font-weight: bold;
}

.cardContainer{
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

