.parentDiv{
    background-color: aliceblue;
    width: auto;
    /* height: 500px; */
    height: auto;

    position: relative;
    overflow: hidden;
    /* margin-left: 40px;
    padding-right: 40px; */

    font-size: 2vw;
}

.componentHoldingDiv{
    display: flex;
    transition: transform 0.5s ease;

    position: relative;
    z-index: 1;
}

.dummy1{
    background-color: aqua;
    flex: 0 0 100%;
}

.dummy2{
    background-color: rebeccapurple;
    flex: 0 0 100%;
}

.slideButton {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    background-color: white; 
    z-index: 2;
    padding: 2%;
    font-size: 4vw; */

    top: 50%;
    transform: translateY(-50%);
    color: white;

    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer;
    aspect-ratio: 1/1;

    /* font-size: 2vw; */
}

.leftButton {
    left: 40px; /* Adjust the left position as needed */
    /* padding-left: 15px; */
}

.rightButton {
    right: 40px; /* Adjust the right position as needed */
    /* padding-right: 15px; */
}


/* --------------------------------- */

.HomeTestimonials{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #810020;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
    width: 100%;
    height: 100%;
    
    /* font-size: 30px; */
}

.HomeTestimonialsImageContainer{

    /* width: 200px; 
    height: 200px; */
    width: 15vw;
    height: 15vw;
    border-radius: 50%; 
    overflow: hidden;
    flex: 0 0 auto;
    margin-left: 40px;
}

.HomeTestimonialsImage{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomeTestimonialsTextContainer{
    font-family: "Dancing Script", cursive;
    font-size: 2vw;
    color: white;
    margin-left: 7%;
    font-family: 'Dancing Script', cursive;
    margin-right: 40px;
}

@media screen and (max-width: 750px){
    .HomeTestimonialsTextContainer{
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px){
    .HomeTestimonials{
        flex-direction: column;
        /* min-height: 100vh; */
    }

    .parentDiv{
        font-size: 6.5vw;
    }

    .HomeTestimonialsImageContainer{
        margin: 0px;
        margin-top: 10px;

        width: 30vw;
        height: 30vw;
    }

    .slideButton {
        /* width: 20px; */
        /* height: 20px;  */
        /* border: none; */
        /* border-radius: 50%;  */
        /* background-color: white;
        z-index: 2; */
        /* padding: 0px; */
    }

    .HomeTestimonialsTextContainer{
        margin: 20px;
        font-size: 6.5vw;
    }

    .leftButton {
        left: 10px; /* Adjust the left position as needed */
    }
    
    .rightButton {
        right: 10px; /* Adjust the right position as needed */
    }

}