/* why us */

.HomeWhyUs{
    width:100%;
    height:auto;
    background-color: white;

    text-align: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 1.25vw;
}

.HomeWhyUsTitle{
    color:#810020;
    font-size: 2vw;
    font-weight: bold;
    margin: 10px;
}

.HomeWhyUsSections{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    height: 100%; /* Ensure dummy1 div fills Carousel height */
    display: flex;
}

.HomeWhyUsSection{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;  */
    align-items: center;
    width: auto;

    padding: 5%;
    flex: 1;


    /* display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 5%;

    justify-content: center;
    align-items: center; 
    text-align: center;  */
}

.HomeWhyUsSectionImageContainer{
    width: 50%;
    height: auto;
    border-radius: 50%; 
    overflow: hidden;
    flex: 0 0 auto;
    border: 2px solid black;

    /* width: 50%; 
    height: 0;
    padding-top: 50%;
    border-radius: 50%; 
    overflow: hidden;
    position: relative;
    border: 2px solid black; */
    padding: 5%;
}

.HomeWhyUsSectionImage{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  */
}

.HomeWhyUsSectionTextContainer{
    
}

@media screen and (max-width: 1000px){
    .HomeWhyUsTitle{
        font-size: 3vw;
    }
}

@media screen and (max-width: 500px){
    .HomeWhyUsSections{
        flex-direction: column;
    }

    .HomeWhyUsTitle{
        font-size: 4vw;
    }

    .HomeWhyUsSectionTextContainer{
        font-size: 4.25vw;
    }

    .HomeWhyUs{
        
        padding-bottom: 40px;
    
    }
}